.card {
   
    justify-content: center;
    align-items: center;
}
.img-icon{
    width: 50px;
    height: 50px;
}
.card-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.back{
    padding-top: 27px;

}