
.open-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #8eddf6;
    .opening-image {
        width: 100px;
        height: 100px;
    }
    
}