<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>  הלכה יומית </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
    <video id="myVideo" controls autoplay   width="400" height="200">
      <source src="../../assets/documents/video.mp4" type="video/mp4">
       </video> 
<div class="message-v" >
 <p   *ngIf="showMessage">סיימת את המשימה בהצלחה</p>
 <button ion-button color="success"  *ngIf="showMessage" (click)="goToCAtegories()">בחר משימה</button> 
</div>
      </ion-content>
    
     